@page "/"
    <!---Showcase-->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Suas informações mais seguras</h1>
                <p>Se ultilizando do banco de dados da Conta code, podemos calcular os impostos sobre seus produtos ao mesmo tepo que salvamos os resultados para suas pesquisas futuras</p>
            </div>

            <div class="showcase-form card">
                <h2>Teste agora</h2>
                <form>
                    <div class="form-control">
                        <input type="text" name="name" placeholder="Nome" required>
                    </div>
                    <div class="form-control">
                        <input type="text" name="name" placeholder="Nome da compania" required>
                    </div>
                    <div class="form-control">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <input type="submit" value="send" class="btn btn-primary">
                </form>

            </div>
        </div>
    </section>
    <!--stats--->

    <section class="stats">
        <div class="container">
            <h3 class="stats-heading text-center my-1">
                Bem vindo ao unico site que irá lhe proporcionar a melhor experiência quanto a organização de dados de sua empresa.
            </h3>

            <div class="grid grid-3 text-center my-4">
                <div>
                    <i class="fas fa-server fa-3x"></i>
                    <h3>2,978,265</h3>
                    <p class="text-secondary">Desenvolvidos</p>
                </div>
                <div>
                    <i class="fas fa-upload fa-3x"></i>
                    <h3>365 TB</h3>
                    <p class="text-secondary">Publicados</p>
                </div>
                <div>
                    <i class="fas fa-project-diagram fa-3x"></i>
                    <h3>1,343,265</h3>
                    <p class="text-secondary">Projetos</p>
                </div>
            </div>
        </div>
    </section>
    <section class="cli">
        <div class="container grid">

        </div>
    </section>